<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Products | Home </title>
</head>
<body>
    <h1 style="font-size: 20px; font-family: sans-serif; color:navy;">Product List</h1>
    <h2 style="font-size: 20px; font-family: sans-serif; color:navy;"> Listado de Productos </h2>

    <br>
    <br>

    <table>
        <tr>
            <th style = "font-family: sans-serif;" > Nombre Producto </th>
            <th style = "font-family: sans-serif;" > Tamaño </th>
            <th style = "font-family: sans-serif;" > Color </th>
            <th style = "font-family: sans-serif;" > SKU </th>
            <th style = "font-family: sans-serif;" > Proveedor </th>
            <th style = "font-family: sans-serif;" > Foto </th>
            <th style = "font-family: sans-serif;" > Opciones </th>
        </tr>
        {% for product in product_list %}
        <tr>
            <td> {{product.product_name}}</td>
            <td> {{product.product_size}}</td>
            <td> {{product.product_color}}</td>
            <td> {{product.product_sku}}</td>
            <td> {{product.vendor}}</td>
            {% if product.picture %}
            <td> <img src= "{{product.picture.url}}" width="150" height="200"></td>
            {% else %}
            <td> Sin Foto</td>
            {% endif %}
            <td><a href="{% url 'deleteproduct' product.id %}">Borrar Producto</a></td>
        </tr>
        {%endfor%}
    </table>

    <h2 style="font-size: 20px; font-family: sans-serif; color:navy;"> Crear un Producto </h2>
    <form action = "" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" > Nombre Producto</td>
                <td>{{product_form.product_name}}</td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Tamaño Producto</td>
                <td>{{product_form.product_size}}</td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Color Producto</td>
                <td>{{product_form.product_color}}</td>
            </tr>
            <tr>  
                <td style="font-size: 15px; font-family: sans-serif" >SKU de Producto</td>
                <td>{{product_form.product_sku}}</td>
            </tr>
            <tr>
                <td style="font-size: 15px; font-family: sans-serif" >Proveedor</td>
                <td>{{product_form.vendor}}</td>
            </tr>
            <tr>
                <td style="font-size: 15px; font-family: sans-serif" >Foto</td>
                <td>{{product_form.picture}}</td>
            </tr>
        </table>
        <br>
        <button type = "submit" name="CreateProduct">Crear Producto</button>
    </form>
    <br>

    <a style = "font-family: sans-serif; font-size: smaller;" href="{% url 'home' %} "> Regresar a inicio </a>

 </body>
</html>